@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&family=JetBrains+Mono:wght@400;700&display=swap");

html, body, #root {
  height: 100%;
  background: #0a0a0f;
  color: #e6f9ff;
  font-family: "JetBrains Mono", monospace;
}
